@model HomespunClassics.DATA.Image

@{
    ViewBag.Title = Model.ImageFileName + " Details";
}

<div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        @Model.ImageFileName <strong>Details</strong>
    </h2>
    <hr class="divider">
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ImageDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImageFileName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageFileName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ImageID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>